<p>login works!</p>




<br/>
cookie value is:{{buttonMessage}}<br/>
double check looking at storage tab in the dev console.

  <div >
    <label >username</label>
    <input type="text"  [(ngModel)]="username" id="username">
  </div>

  <div >
    <label >password</label>
    <input type="text"  [(ngModel)]="password" id="password"  >
  </div>
<button (click)="login()">login</button>
<button (click)="localLogin()">local login</button>
{{global_array[0]}}


------------------------------------<br/>



